PORT=3000

DB_USER=group1
DB_HOST=34.142.204.153
DB_DATABASE=db_group1
DB_PASSWORD=3uQSqe0QsVXt
DB_PORT=5432

DATABASE_URL=postgresql://group1:3uQSqe0QsVXt@34.142.204.153:5432/db_group1

JWT_ACCESS_SECRET=change_this_access_secret
JWT_REFRESH_SECRET=change_this_refresh_secret
ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_DAYS=7